@model IEnumerable<DoctorSalud.PacienteDS>
@{

    ViewBag.Title = "Index";

    var oUser = (Usuarios)HttpContext.Current.Session["User"];

    DoctorSalud_Entities db = new DoctorSalud_Entities();


    System.Web.Script.Serialization.JavaScriptSerializer js = new System.Web.Script.Serialization.JavaScriptSerializer();

    var Recepcion = new int?();
    var Hospital = "";
    var idHospital = 0;
    string Sucursal = null;
    int idUser = 14;
    string nombreUsuario = null;
    string fila = "";
    int registros;

    int flag = 1; //contador de la tabla

    DateTime start = DateTime.Now;
    DateTime finish = DateTime.Now.AddDays(1);

    int year = start.Year;
    int month = start.Month;
    int day = start.Day;

    int year1 = finish.Year;
    int month1 = finish.Month;
    int day1 = finish.Day;

    int tomorrorDay = day + 1;
    DateTime thisDate = new DateTime(year, month, day);
    DateTime tomorrowDate = new DateTime(year1, month1, day1);

    var modelo = db.PacienteDS.Join(db.CitaDS, n => n.idPacienteDS, m => m.idPacienteDS, (n, m) => new { N = n, M = m }).Where(s => s.M.Sucursal == Sucursal && s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate)@*.OrderByDescending(o => new { o.M.TipoTramite,  }).OrderBy(r => r.M.EstatusPago)*@;
int? idRol = 0;

if (oUser != null)
{
idUser = oUser.idUsuario;
nombreUsuario = oUser.Nombre;
idRol = oUser.idRol;

if (oUser.idRol == 16)
{
Recepcion = (from r in db.RecepcionistaDS where r.idUsuario == idUser select r.idSucursalDS).FirstOrDefault();
Hospital = (from h in db.SucursalDS where h.idSucursalDS == Recepcion select h.Nombre).FirstOrDefault();
idHospital = (from h in db.SucursalDS where h.idSucursalDS == Recepcion select h.idSucursalDS).FirstOrDefault();
Sucursal = Hospital.ToString();

modelo = db.PacienteDS.Join(db.CitaDS, n => n.idPacienteDS, m => m.idPacienteDS, (n, m) => new { N = n, M = m }).Where(s => s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate && s.M.Sucursal == Sucursal);

registros = db.PacienteDS.Join(db.CitaDS, n => n.idPacienteDS, m => m.idPacienteDS, (n, m) => new { N = n, M = m }).Where(s => s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate && s.M.Sucursal == Sucursal).Count();

}
else
{
Hospital = "GENERAL";
Sucursal = Hospital.ToString();

modelo = db.PacienteDS.Join(db.CitaDS, n => n.idPacienteDS, m => m.idPacienteDS, (n, m) => new { N = n, M = m }).Where(s => s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate)/*.OrderByDescending(o => o.M.TipoTramite)*/;

registros = db.PacienteDS.Join(db.CitaDS, n => n.idPacienteDS, m => m.idPacienteDS, (n, m) => new { N = n, M = m }).Where(s => s.M.FechaCita >= thisDate && s.M.FechaCita < tomorrowDate).Count();

}
}


}

<br />
<br />
<h2 style="color:navy" @*class="text-center"*@><span class="text-info">FARMACIA - </span> @Sucursal</h2>
<br />
<!--<div class="form-inline">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-plus"></span> Nueva Cita</button>-->
@*<div class="input-group pull-right">
        <input type="text" class="form-control" id="buscador" name="dato" placeholder="Paciente o Expediente">
        <span class="input-group-btn">
            <button class="btn btn-info buscar" id="buscar" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>*@
<!--</div>-->

@section scripts{

    <script>
        var input = document.getElementById("buscador");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("buscar").click();
            }
        });

    </script>

    <script>
    $(function () {
        $(".buscar").click(function () {
            var url = "@Url.Action("Buscar", "Recepcion")";
            var dato = $("#buscador").val();
            var data = { dato: dato };

            $.post(url, data).done(function (data) {
                console.log(data);
                let miResultado = "";
                if ($.isEmptyObject(data)) {
                    miResultado = "<h3>No se encontraron registros!!</h3>"
                }
                else {
                    miResultado +=  "<tr class=\"bg-primary\"><th>Nombre</th><th>Sucursal</th><th>Tipo Tramite</th><th>Tipo Licencia</th><th>Estatus Dictamen</th><th>Fecha Cita</th><th></th></tr>"
                    for (let i = 0; i < data.length; i++) {

                        if (data[i].EstatusDictamen == null) {
                            miResultado += "<tr style=\"border:1px solid gray\">" +
                                "<td><b>" + data[i].Nombre + "</b></td>" +
                                "<td><b>" + data[i].Sucursal + "</b></td>" +
                                "<td><b>" + data[i].TipoTramite + "</b></td>" +
                                "<td><b>" + data[i].TipoLicencia + "</b></td>" +
                                "<td><b>Pendiente</b></td>" +
                                "<td><b>" + data[i].FechaCita + "</b></td>" +
                                "</tr>"

                        } else {
                            miResultado += "<tr style=\"border:1px solid gray\">" +
                                "<td><b>" + data[i].Nombre + "</b></td>" +
                                "<td><b>" + data[i].Sucursal + "</b></td>" +
                                "<td><b>" + data[i].TipoTramite + "</b></td>" +
                                "<td><b>" + data[i].TipoLicencia + "</b></td>" +
                                "<td><b>" + data[i].EstatusDictamen + "</b></td>" +
                                "<td><b>" + data[i].FechaCita + "</b></td>" +
                                "</tr>"

                        }

                    }
                }

                $('#exampleModal5').modal('show');
                document.getElementById("tablaEjemploSS").innerHTML = miResultado;

            }).fail().always(function () {

            });
        });
    });
    </script>
    @if (TempData["ID_FARMACIA"] != null)
    {
        <script>
            window.open('@Url.Action("DescargarFARMACIA","Modulos", new {id = TempData["ID_FARMACIA"] })');
        </script>
    }

    @if (TempData["Link"] != null)
    {
        <script>
            @*location.href='@Url.Action("AbrirEPI","EPIs", new { id = TempData["ID"] })';*@
            window.open('@TempData["Link"]');
        </script>
    }



    @if (TempData["Cer_MI"] != null)
    {
        <script>
            window.open('@Url.Action("Cer_MI","Modulos", new { id = TempData["Cer_MI"] })');
        </script>
    }
    @if (TempData["Tra_MI"] != null)
    {
        <script>
            window.open('@Url.Action("Tra_MI","Modulos", new { id = TempData["Tra_MI"] })');
        </script>
    }


    @if (TempData["Cer_CA"] != null)
    {
        <script>
            window.open('@Url.Action("Cer_CA","Modulos", new { id = TempData["Cer_CA"] })');
        </script>
    }
    @if (TempData["Tra_CA"] != null)
    {
        <script>
            window.open('@Url.Action("Tra_CA","Modulos", new { id = TempData["Tra_CA"] })');
        </script>
    }


    @if (TempData["Cer_NU"] != null)
    {
        <script>
            window.open('@Url.Action("Cer_NU","Modulos", new { id = TempData["Cer_NU"] })');
        </script>
    }
    @if (TempData["Tra_NU"] != null)
    {
        <script>
            window.open('@Url.Action("Tra_NU","Modulos", new { id = TempData["Tra_NU"] })');
        </script>
    }


    @if (TempData["Cer_OF"] != null)
    {
        <script>
            window.open('@Url.Action("Cer_OF","Modulos", new { id = TempData["Cer_OF"] })');
        </script>
    }
    @if (TempData["Tra_OF"] != null)
    {
        <script>
            window.open('@Url.Action("Tra_OF","Modulos", new { id = TempData["Tra_OF"] })');
        </script>
    }

    @if (TempData["Tra_FA"] != null)
    {
        <script>
            window.open('@Url.Action("Tra_FA","Modulos", new { id = TempData["Tra_FA"] })');
        </script>
    }
}

<br />

<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary" id="exampleModalLabel"><b>Resultado de la búsqueda:</b></h3>
            </div>
            <div class="modal-body" id="">
                <div class="tablaScroll">
                    <table class="table tablas table-responsive" id="tablaEjemploSS" style="color: #2F2D6B">
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h3 class="modal-title text-primary" id="exampleModalLabel"><b>Registrar cita previamente pagada</b></h3>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Recepcion/Crear")">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre del Paciente:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Teléfono:</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Código HASH:</label>
                        <input type="text" class="form-control" id="email" name="hash" required>
                    </div>
                    <input type="hidden" value="@nombreUsuario" name="usuario" />
                    <input type="hidden" value="@Sucursal" name="sucursal" />
            </div>
            <div class="modal-footer bg-info">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div></form>
        </div>
    </div>
</div>


@if (modelo.FirstOrDefault() == null)
{
    <h1 class="text-primary">No existen citas registradas el día de hoy</h1>
}
else
{
    <div class="tablaScroll">
        <table class="table tablas" style="color: #2F2D6B">
            <thead>
                <tr class="bg-primary" style="border-top-color: black">
                    <th>
                    </th>

                    <th>
                        PACIENTE
                    </th>

                    <th>
                        MEDICINA INTERNA
                    </th>
                    <th>
                        OFTALMOLOGÍA
                    </th>
                    <th>
                        CARDIOLOGÍA
                    </th>
                    <th>
                        NUTRICIÓN
                    </th>
                    <th></th>
                </tr>
            </thead>



            @foreach (var item in modelo)
            {
                <tr style="background-color:white; border-bottom: solid 0.1px #337AB7">
                    <td>
                        @flag
                    </td>

                    <td>
                        <b>@Html.DisplayFor(modelItem => item.N.Nombre)</b>
                    </td>
                    <td>
                        @{
                            if ((from c in db.MedicinaInterna where c.idPacienteDS == item.N.idPacienteDS select c).FirstOrDefault() != null)
                            {
                                if ((from c in db.CitaDS where c.idPacienteDS == item.N.idPacienteDS select c.Fin_MedicinaInterna).FirstOrDefault() == null)
                                {
                                    <h5 class="text-info">En proceso...</h5>
                                }
                                else
                                {
                                    <b><mark style="background-color: chartreuse; padding:5px; border-radius:10px" data-toggle="modal" data-target="#certificadoMI_@item.N.idPacienteDS">Certificado <span class="glyphicon glyphicon-ok"></span></mark></b><br /><br />
                                    <b><mark style="background-color: #01ffff; padding:5px; border-radius:10px" data-toggle="modal" data-target="#tratamientoMI_@item.N.idPacienteDS">Tratamiento <span class="glyphicon glyphicon-ok"></span></mark></b>
                                    @*<h5 class="text-success" data-toggle="modal" data-target="#certificadoMI_@item.N.idPacienteDS">Certificado</h5>
                                        <h5 class="text-success" data-toggle="modal" data-target="#certificadoMI_@item.N.idPacienteDS">Tratamiento</h5>*@
                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Certificado_MI")">
                                        <div class="modal fade" id="certificadoMI_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Certificado de Medicina Interna para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var MI = (from m in db.MedicinaInterna where m.idPacienteDS == item.N.idPacienteDS orderby m.idMedicinaInterna descending select m).FirstOrDefault();

                                                                <h4><b class="text-info">Certificado Médico: </b><span class="text-primary">@MI.CertificadoMedico</span></h4>
                                                            }
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Certificado PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>


                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Tratamiento_MI")">
                                        <div class="modal fade" id="tratamientoMI_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Plan de Tratamiento de Medicina Interna para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var MI2 = (from m in db.MedicinaInterna where m.idPacienteDS == item.N.idPacienteDS orderby m.idMedicinaInterna descending select m).FirstOrDefault();

                                                                if (MI2.Seguimiento != null)
                                                                {
                                                                    <h4><b class="text-info">Fecha de seguimiento: </b><span class="text-primary">@Convert.ToDateTime(MI2.Seguimiento).ToString("dd-MMMM-yyyy")</span></h4>
                                                                }
                                                                <h4><b class="text-info">Plan de Tratamiento: </b><span class="text-primary">@MI2.PlanTratamiento</span></h4>
                                                            }
                                                        </div>
                                                        <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Plan de Tratamiento PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                }
                            }
                            else
                            {
                                <h5>N/A</h5>
                            }



                        }
                    </td>
                    <td>
                        @{
                            if ((from c in db.Oftalmologo where c.idPacienteDS == item.N.idPacienteDS select c).FirstOrDefault() != null)
                            {
                                if ((from c in db.CitaDS where c.idPacienteDS == item.N.idPacienteDS select c.Fin_Oftalmologia).FirstOrDefault() == null)
                                {
                                    <h5 class="text-info">En proceso...</h5>
                                }
                                else
                                {
                                    <b><mark style="background-color: chartreuse; padding:5px; border-radius:10px" data-toggle="modal" data-target="#certificadoOF_@item.N.idPacienteDS">Certificado <span class="glyphicon glyphicon-ok"></span></mark></b><br /><br />
                                    <b><mark style="background-color: #01ffff; padding:5px; border-radius:10px" data-toggle="modal" data-target="#tratamientoOF_@item.N.idPacienteDS">Tratamiento <span class="glyphicon glyphicon-ok"></span></mark></b>
                                    @*<h5 class="text-success" data-toggle="modal" data-target="#certificadoOF_@item.N.idPacienteDS">Ver Certificado</h5>*@

                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Certificado_OF")">
                                        <div class="modal fade" id="certificadoOF_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Certificado de Oftalmología para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var OF = (from m in db.Oftalmologo where m.idPacienteDS == item.N.idPacienteDS orderby m.idOftalmologo descending select m).FirstOrDefault();

                                                                <h4><b class="text-info">Certificado Médico: </b><span class="text-primary">@OF.CertificadoMedico</span></h4>
                                                            }
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Certificado PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>


                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Tratamiento_OF")">
                                        <div class="modal fade" id="tratamientoOF_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Plan de Tratamiento de Oftalmología para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var OF2 = (from m in db.Oftalmologo where m.idPacienteDS == item.N.idPacienteDS orderby m.idOftalmologo descending select m).FirstOrDefault();

                                                                if (OF2.Seguimiento != null)
                                                                {
                                                                    <h4><b class="text-info">Fecha de seguimiento: </b><span class="text-primary">@Convert.ToDateTime(OF2.Seguimiento).ToString("dd-MMMM-yyyy")</span></h4>
                                                                }
                                                                <h4><b class="text-info">Plan de Tratamiento: </b><span class="text-primary">@OF2.PlanTratamiento</span></h4>
                                                            }
                                                        </div>
                                                        <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Plan de Tratamiento PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                }
                            }
                            else
                            {
                                <h5>N/A</h5>
                            }



                        }
                    </td>
                    <td>
                        @{
                            if ((from c in db.Cardiologo where c.idPacienteDS == item.N.idPacienteDS select c).FirstOrDefault() != null)
                            {
                                if ((from c in db.CitaDS where c.idPacienteDS == item.N.idPacienteDS select c.Fin_Cardiologia).FirstOrDefault() == null)
                                {
                                    <h5 class="text-info">En proceso...</h5>
                                }
                                else
                                {
                                    <b><mark style="background-color: chartreuse; padding:5px; border-radius:10px" data-toggle="modal" data-target="#certificadoCA_@item.N.idPacienteDS">Certificado <span class="glyphicon glyphicon-ok"></span></mark></b><br /><br />
                                    <b><mark style="background-color: #01ffff; padding:5px; border-radius:10px" data-toggle="modal" data-target="#tratamientoCA_@item.N.idPacienteDS">Tratamiento <span class="glyphicon glyphicon-ok"></span></mark></b>
                                    @*<h5 class="text-success" data-toggle="modal" data-target="#certificadoCA_@item.N.idPacienteDS">Ver Certificado</h5>*@

                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Certificado_CA")">
                                        <div class="modal fade" id="certificadoCA_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Certificado de Cardiología para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var CA = (from m in db.Cardiologo where m.idPacienteDS == item.N.idPacienteDS orderby m.idCardiologo descending select m).FirstOrDefault();

                                                                <h4><b class="text-info">Certificado Médico: </b><span class="text-primary">@CA.CertificadoMedico</span></h4>
                                                            }
                                                        </div>
                                                        <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Certificado PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>


                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Tratamiento_CA")">
                                        <div class="modal fade" id="tratamientoCA_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Plan de Tratamiento de Cardiología para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var CA2 = (from m in db.Cardiologo where m.idPacienteDS == item.N.idPacienteDS orderby m.idCardiologo descending select m).FirstOrDefault();

                                                                if (CA2.Seguimiento != null)
                                                                {
                                                                    <h4><b class="text-info">Fecha de seguimiento: </b><span class="text-primary">@Convert.ToDateTime(CA2.Seguimiento).ToString("dd-MMMM-yyyy")</span></h4>
                                                                }
                                                                <h4><b class="text-info">Plan de Tratamiento: </b><span class="text-primary">@CA2.PlanTratamiento</span></h4>
                                                            }
                                                            <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Plan de Tratamiento PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                }
                            }
                            else
                            {
                                <h5>N/A</h5>
                            }



                        }
                    </td>
                    <td>
                        @{
                            if ((from c in db.Nutriologo where c.idPacienteDS == item.N.idPacienteDS select c).FirstOrDefault() != null)
                            {
                                if ((from c in db.CitaDS where c.idPacienteDS == item.N.idPacienteDS select c.Fin_Nutricion).FirstOrDefault() == null)
                                {
                                    <h5 class="text-info">En proceso...</h5>
                                }
                                else
                                {
                                    <b><mark style="background-color: chartreuse; padding:5px; border-radius:10px" data-toggle="modal" data-target="#certificadoNU_@item.N.idPacienteDS">Certificado <span class="glyphicon glyphicon-ok"></span></mark></b><br /><br />
                                    <b><mark style="background-color: #01ffff; padding:5px; border-radius:10px" data-toggle="modal" data-target="#tratamientoNU_@item.N.idPacienteDS">Tratamiento <span class="glyphicon glyphicon-ok"></span></mark></b>
                                    @*<h5 class="text-success" data-toggle="modal" data-target="#certificadoNU_@item.N.idPacienteDS">Ver Certificado</h5>*@

                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Certificado_NU")">
                                        <div class="modal fade" id="certificadoNU_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Certificado de Nutrición para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var NU = (from m in db.Nutriologo where m.idPacienteDS == item.N.idPacienteDS orderby m.idNutriologo descending select m).FirstOrDefault();

                                                                <h4><b class="text-info">Certificado Médico: </b><span class="text-primary">@NU.CertificadoMedico</span></h4>
                                                            }
                                                        </div>
                                                        <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Certificado PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>



                                    <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Tratamiento_NU")">
                                        <div class="modal fade" id="tratamientoNU_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel"><b>Plan de Tratamiento de Nutrición para <span class="text-danger">@item.N.Nombre</span></b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            @{
                                                                var NU2 = (from m in db.Nutriologo where m.idPacienteDS == item.N.idPacienteDS orderby m.idNutriologo descending select m).FirstOrDefault();

                                                                if (NU2.Seguimiento != null)
                                                                {
                                                                    <h4><b class="text-info">Fecha de seguimiento: </b><span class="text-primary">@Convert.ToDateTime(NU2.Seguimiento).ToString("dd-MMMM-yyyy")</span></h4>
                                                                }
                                                                <h4><b class="text-info">Plan de Tratamiento: </b><span class="text-primary">@NU2.PlanTratamiento</span></h4>
                                                            }
                                                            <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <input type="submit" class="btn btn-info" value="Ver Plan de Tratamiento PDF" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                }
                            }
                            else
                            {
                                <h5>N/A</h5>
                            }



                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secundary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>

                            <div class="dropdown-menu" style="padding:10px">
                                <a href="#" data-toggle="modal" data-target="#tratamiento_@item.M.idPacienteDS">Plan de Tratamiento</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-toggle="modal" data-target="#entrega_@item.M.idPacienteDS">Entrega Medicamento</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>

                        <!-- Modal para elegir modulos de entrega medicamento -->
                        <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Guardar_Farmacia")">
                            @Html.AntiForgeryToken()
                            <div class="modal fade" id="tratamient_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-info">
                                            <h4 class="modal-title" id="exampleModalLabel"><b>Elegir Medicamento a Entregar</b></h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                            <div class="form-group">
                                                <label class="h4">PARACETAMOL:</label>
                                                <input type="checkbox" id="derechorp" name="paracetamol"><br />
                                                <label class="h4">METFORMINA:</label>
                                                <input type="checkbox" id="derechorp" name="metformina"><br />
                                                <label class="h4">ENALAPRIL:</label>
                                                <input type="checkbox" id="derechorp" name="enalapril"><br />
                                                <label class="h4">CAPTOPRIL:</label>
                                                <input type="checkbox" id="derechorp" name="captopril"><br />
                                                <label class="h4">HIDROCLOROTIAZIDA:</label>
                                                <input type="checkbox" id="derechorp" name="hidroclorotiazida"><br />
                                                <label class="h4">PIOGLITAZONA:</label> 
                                                <input type="checkbox" id="derechorp" name="pioglitazona"><br />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <input type="submit" value="Enviar" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Modal para elegir modulos de entrega medicamento -->
                        <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/EntregaMedicamento")">
                            @Html.AntiForgeryToken()
                            <div class="modal fade" id="entrega_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-info">
                                            <h4 class="modal-title" id="exampleModalLabel"><b>Este paciente tiene Planes de Tratamiento de los siguientes módulos:</b></h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                            <div class="form-group">
                                                @{
                                                    var revision1 = (from r in db.MedicinaInterna where r.idPacienteDS == item.M.idPacienteDS orderby r.idMedicinaInterna descending select r.PlanTratamiento).FirstOrDefault();
                                                    var revision2 = (from r in db.Cardiologo where r.idPacienteDS == item.M.idPacienteDS orderby r.idCardiologo descending select r.PlanTratamiento).FirstOrDefault();
                                                    var revision3 = (from r in db.Nutriologo where r.idPacienteDS == item.M.idPacienteDS orderby r.idNutriologo descending select r.PlanTratamiento).FirstOrDefault();
                                                    var revision4 = (from r in db.Oftalmologo where r.idPacienteDS == item.M.idPacienteDS orderby r.idOftalmologo descending select r.PlanTratamiento).FirstOrDefault();

                                                    if (revision1 != null)
                                                    {
                                                        <h4 class="text-info">MEDICINA INTERNA: <span class="text-primary">@revision1</span></h4>
                                                    }
                                                    if (revision1 != null)
                                                    {
                                                        <h4 class="text-info">CARDIOLOÍA: <span class="text-primary">@revision2</span></h4>
                                                    }
                                                    if (revision1 != null)
                                                    {
                                                        <h4 class="text-info">NUTRICIÓN: <span class="text-primary">@revision3</span></h4>
                                                    }
                                                    if (revision1 != null)
                                                    {
                                                        <h4 class="text-info">OFTALMOLOGÍA: <span class="text-primary">@revision4</span></h4>
                                                    }
                                                }
                                                <label class="h4">PARACETAMOL:</label>
                                                <input type="checkbox" id="derechorp" name="paracetamol"><br />
                                                <label class="h4">METFORMINA:</label>
                                                <input type="checkbox" id="derechorp" name="metformina"><br />
                                                <label class="h4">ENALAPRIL:</label>
                                                <input type="checkbox" id="derechorp" name="enalapril"><br />
                                                <label class="h4">CAPTOPRIL:</label>
                                                <input type="checkbox" id="derechorp" name="captopril"><br />
                                                <label class="h4">HIDROCLOROTIAZIDA:</label>
                                                <input type="checkbox" id="derechorp" name="hidroclorotiazida"><br />
                                                <label class="h4">PIOGLITAZONA:</label>
                                                <input type="checkbox" id="derechorp" name="pioglitazona"><br />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <input type="submit" value="Enviar" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Modal para elegir modulos de entrega medicamento -->
                        <form method="post" enctype="multipart/form-data" action="@Url.Content("~/Modulos/Tratamiento_FARMACIA")">
                            @Html.AntiForgeryToken()
                            <div class="modal fade" id="tratamiento_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-info">
                                            @{
                                                var nombrePaciente = (from n in db.PacienteDS where n.idPacienteDS == item.M.idPacienteDS select n).FirstOrDefault();

                                                <h4 class="modal-title" id="exampleModalLabel"><b>¿Desea ver el Plan de Tratamiento del paciente @nombrePaciente.Nombre ?</b></h4>
                                            }
                                            <input type="hidden" name="id" value="@item.M.idPacienteDS" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <input type="submit" value="Mostrar PDF" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>



                        <!-- Modal para ver estatus de entrega de medicamento-->
                        <div class="modal fade" id="estatus_@item.M.idPacienteDS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-primary" id="exampleModalLabel"><b>Medicamentos entregados</b></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Nombre del Paciente:</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="@item.N.Nombre">
                                            <input type="hidden" class="form-control" id="id" name="id" value="@item.N.idPacienteDS">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Teléfono:</label>
                                            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="@item.N.Telefono" />
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Email:</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="@item.N.Email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Código HASH:</label>
                                            <input type="text" class="form-control" id="email" name="estado" placeholder="@item.N.HASH" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>

                flag += 1;

            }

        </table>
    </div>
}

